

<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>SECTIONS</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>SEARCH</span>
			</li>
		</ul>
	</nav>
  <nav class="right-nav">
		<ul>
			<li>
				<input class="button" type="submit" name="" value="SUBSCRIBE NOW">
			</li>
			<li>
        <input class="button" type="submit" name="" value="LOG IN">
			</li>
      <li>
        <i class="fa fa-cog"></i>
      </li>		</ul>
	</nav>
</header>